.header {
    width: auto;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;

    &__banner {

        &__carousel-inner {

            img {
                border: 2px solid;
                @extend %animacionBorde;
                border-radius: 15px;
                width: 1300px;
                height: 500px;

                &:hover {
                    filter: blur(2px);
                }
            }
        }
    }
}